/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   $font-stack: Helvetica, serif;
   $back-col: #333;
   $light-col: #444;
   $dark-col: #111;
   $text-col: white;
   $side-width: 25%;

 .nav-bar {
   list-style-type: none;
   margin-left: $side-width;
   margin-right: $side-width;
   padding: 0;
   overflow: hidden;
   background-color: $back-col;
 }

 li a {
   float: left;
   display: block;
   color: $text-col;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover {
   background-color: $dark-col;
  }

  body {
   background-color: $light-col;
  }

  .title-container {
   font: 100% $font-stack;
   text-align: center;
   background-color: $back-col;
   padding: 30px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: $side-width;
   margin-left: $side-width;
  }

  .text-container {
   font: 100% $font-stack;
   background-color: $back-col;
   padding: 30px;
   margin-top: 5px;
   margin-bottom: 0px;
   margin-right: $side-width;
   margin-left: $side-width;
  }